<!DOCTYPE html><html><head>
    <title>Lista de Cantantes</title>
    <link rel="stylesheet" type="text/css">

</head><body>

    <h1>Cantantes</h1>
    <ul>
        {% for artista in artistas %}
            <li>{{ artista["Name"] }}</li>
        {% endfor %}
    </ul>
    <h1>Generos</h1>
    <ul>
        {% for genero in generos %}
            <li>{{ genero["Name"] }}</li>
        {% endfor %}
    </ul>
    </ul>
    <h1>Canciones</h1>
    <ul>
        {% for cancion in canciones %}
            <li>{{ cancion["Name"] }}</li>
        {% endfor %}
    </ul>
    
</body></html>